// Variable overrides
$theme-colors: (
  //Paleta de colores
  "primary": #0084ff,
);

$sidebar-dark-nav-link-hover-color: white;
$sidebar-dark-nav-link-hover-icon-color: white;
$sidebar-dark-nav-link-icon-color: white;
$sidebar-dark-nav-link-color:  white;
$sidebar-dark-nav-link-bg:  #0084ff;
$sidebar-dark-bg:  #0084ff;
$sidebar-dark-nav-link-active-bg:  #0363bd;